body{
    box-sizing: border-box;
    margin: 0px;
}
.color-pick{
    position: absolute;
    margin-top: 10px;
    margin-left: 50px;
}
.label{
    position:absolute;
    margin-top: 10px;
    color:white;
}